* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Ubuntu';
    font-style: normal;
}
/* --- header ----- */
header{
    background: #2E948A;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 3%;
    justify-content: space-between;
}
header a img {
    height: 70px;
    width: auto;
}
.navbar-header {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.link-header {
    padding-left: 25px;
    color: #fdfdfd;
    text-decoration: none;
    font-weight: 700;
}
/* ---------- footer ------------- */
footer {
    background: #419488;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 3%;
    justify-content: space-between;
}
footer a img {
    height: 70px;
    width: auto;
}
footer ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
footer div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
/* ---------- botoes --------- */

.link-branco-400 {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}
.link-rosa-400 {
    color: #FF4081;
    text-decoration: none;
    font-weight: 400;
}
button {
    border-radius: 15px;
    padding:5px 20px;
}
.btn-footer {
    border: 1px solid #fff;
    background: #419488;    
}
.btn-branco-rosa {
    border: 2px solid #FF4081;
    background: #fff;    
}
.btn-rosa-branco {
    border: none;
    background: #FF4081;
}
.btn-verde-branco {
    border: none;
    background: #2E948A;
}
a:hover{
    text-decoration:underline;
}

/* ------------ main --------------- */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h1-rosa {
    font-weight: 700;
    color: #FF4081;
}
.h2-verde {
    font-weight: 700;
    color: #009688;
}
.h3-rosa {
    font-weight: 700;
    color: #FF4081;
}



